<h2 class="title">Các sản phẩm đã thêm</h2>
{{! seacrch product added }}
<div class="products__search">
  <label>
    <i class="icon fa-solid fa-magnifying-glass"></i>
  </label>
  <input placeholder="tìm kiếm" />
</div>
{{! filter products }}
<div class="products__filter">
  <h4>
    <i class="icon fa-solid fa-filter"></i>Bộ lọc
  </h4>
</div>
<div class="products__show">
  <table class="list__products">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá(vnđ)</th>
        <th scope="col">
          Tùy chọn
        </th>

      </tr>
    </thead>
    <tbody>
      {{#each product}}
      <tr class="product__item">
        <td class="item__index">{{indexPlusOne @index}}</td>
        <td class="item__images">
          <img src="/images/{{this.images}}" class="img__product" />
        </td>
        <td class="item__name">{{this.name}}</td>
        <td class="item__des">{{this.price}}</td>
        <td class="item__options">
          <a href="/products/{{this.slug}}/edit" class="btn btn__options btn__primary"><i
              class="icon fa-solid fa-pen-to-square"></i></a>
          <button class="btn btn__options btn__delete" data-id="{{this.id}}"><i
              class="icon fa-solid fa-trash"></i></button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! modal confim delete }}
<div id="product__modal__confirm" class="product__modal hidden ">
  <div class="product__modal-wrapper">
    <h3 class="modal__title">Bạn có muốn xóa sản phẩm này không!</h3>
    <div class="modal__button">
      <button id="btn__cancel" class="btn ">Hủy</button>
      <button id="btn__delete-trash" class="btn">Xóa</button>
    </div>
  </div>
</div>
{{!-- overlay --}}
<div id="product__overlay" class="product__overlay hidden"></div>
{{!-- form delete --}}
<form method="post" class="form__submit__delete"></form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const btnDelete = document.querySelectorAll(".btn__delete");
    const btnCancel = document.querySelector('#btn__cancel')
    const btnDeleteTrash = document.querySelector('#btn__delete-trash')
    const modalConfirm = document.querySelector("#product__modal__confirm")
    const formDelete = document.querySelector(".form__submit__delete")
    const productOverlay = document.querySelector('.product__overlay')
    let productId = ''
    btnDelete.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        try {
          productId = btn.dataset.id
          modalConfirm.classList.remove("hidden")
          productOverlay.classList.remove("hidden")
        }
        catch { }
      })
    })
    productOverlay.addEventListener('click', () => {
      modalConfirm.classList.add("hidden")
      productOverlay.classList.add("hidden")
      productId = ' '
    })
    btnCancel.addEventListener('click', () => {
      modalConfirm.classList.add("hidden")
      productOverlay.classList.add("hidden")
      productId = ' '
    })
    btnDeleteTrash.addEventListener('click', () => {
      formDelete.action = "/products/" + productId + "?_method=DELETE"
      formDelete.submit()
      console.log(productId)
    })
  })
</script>