<h1 class="title">Thùng rác</h1>
<div class="products__show">
    <table class="list__products">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá(vnđ)</th>
                <th scope="col">
                    Tùy chọn
                </th>

            </tr>
        </thead>
        <tbody>
            {{#each product}}
            <tr class="product__item">
                <td class="item__index">{{indexPlusOne @index}}</td>
                <td class="item__images">
                    <img src="/images/{{this.images}}" class="img__product" />
                </td>
                <td class="item__name">{{this.name}}</td>
                <td class="item__des">{{this.price}}</td>
                <td class="item__options">
                    <a href="/products/{{this.slug}}/edit" class="btn btn__options btn__primary"><i
                            class="icon fa-solid fa-pen-to-square"></i></a>
                    <button class="btn btn__options btn__delete" data-id="{{this.id}}"><i
                            class="icon fa-solid fa-trash"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>